body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
body::-webkit-scrollbar {
  display: none;
}

#content div {
  vertical-align: middle;
}
#day {
  font-size: 14vw;
  text-align: center;
}
table img {
  width: 20vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
}

#clockdate {
  font-size: 14vw;
  text-align: center;
}
#clock {
  font-size: 32vw;   
  text-align: center;
/*  line-height: 99%; */
}
#temp {
  font-size: 28vw;
  text-align: center;
}
#weather {
  font-size: 5vw;
  vertical-align: bottom;
}
/*
#weather pre {
  margin-left: -48vw;
  clip-path:inset(0% 0% 0% 45vw);
}
*/
