body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
body::-webkit-scrollbar {
  display: none;
}

#content div {
  vertical-align: middle;
}
#day {
  font-size: 15vw;
  text-align: center;
}
#ir1, #ir2, #light {
  width: 20vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
}

#clockdate {
  font-size: 15vw;
  text-align: center;
}
#clock {
  font-size: 35vw;   
  text-align: center;
/*  line-height: 99%; */
}
#temp {
  font-size: 30vw;
  text-align: center;
}
#weather {
  font-size: 3vw;
}
