[Unit]
Description=PHP Motion Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/php /var/www/html/motion.php
Restart=always
RestartSec=5

User=www-data
Group=www-data

WorkingDirectory=/var/www/html/
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=network-online.target
