[Unit]
Description=Thermostat Service
After=network-online.target

[Service]
Type=simple
ExecStart=/var/www/html/thermostat.sh
Restart=always
RestartSec=30

#User=www-data
#Group=www-data

#WorkingDirectory=/var/www/html/
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=network-online.target
