body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #ffff00;
  font-family: sans-serif;
  cursor: none;
}
a {
  color: #ffff00;
  text-decoration: none;
}
body::-webkit-scrollbar {
  display: none;
}
#clockday, #clockdate, #radio {
  font-size: 10vw;
  text-align: center;
}
#clock {
  font-size: 20vw;   
  text-align: center;
/*  line-height: 99%; */
}
