body {
  cursor: none;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
button {
  background-color: rgba(128,128,128,0.5);
  border: 1px solid rgb(128,128,128);
  color: white;
  padding: 0.5vw 1vw; /* 15px; */
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  margin-right: 1vw;
  text-align: center;
  text-decoration: none;
  font-size: 4vw; /* 30px; */
  font-weight: bold;
  border-radius: 12px;
}
#clockdaytemp {
  padding-top: 1vw;
  font-size: 10vw;
  text-align: center;
}
#clock {
  font-size: 35vw;   
  text-align: center;
  line-height: 100%;
}
#clockdate {
  font-size: 10vw;   
  text-align: center;
  padding-bottom: 1vw;
}
#miniclock {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 7vw;
}
#minitemp {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 7vw;
}
.menubutton {
  height: 13vw;
}
.panel {
  text-align: center;
  vertical-align: middle;
  height: 100vh;;
  margin: 0;
}
.panel h1 {
  font-size: 8vw;
  margin-bottom: 0;
  margin-top: 0;
}
.panel h1 img {
  vertical-align: middle;
}
#volumeinfo {
  font-size: 13vw;
  display: inline-block;
  width: 2em;
  position: relative;
  bottom: 3vh;
}
