body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
div {
  width: 100vw;
}
h1 {
  font-size: 10vw;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
h1 img {
  height: 9vw;
  vertical-align: -1.5vw;
}
div img {
  height: 9vw;
  vertical-align: -2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
button {
  background-color: black;
  border: 1px solid rgb(128,128,128);
  color: white;
  padding: 0.5vw 2vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  margin-right: 1vw;
  text-align: center;
  text-decoration: none;
  font-size: 7vw;
  font-weight: bold;
  border-radius: 12px;
}
