body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  cursor: none;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
figure {
  display: inline-block;
}
.menubutton {
  height: 23vw; /* 100px; */
}
button {
  background-color: rgba(128,128,128,0.5);
  border: 1px solid rgb(128,128,128);
  color: white;
  padding: 0.5vw 1vw; /* 15px; */
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  margin-right: 1vw;
  text-align: center;
  text-decoration: none;
  font-size: 4vw; /* 30px; */
  font-weight: bold;
  border-radius: 12px;
}
#configUI button {
  font-size: inherit;
}
#clockday {
  padding-top: 1vw;
  font-size: 10vw;
  text-align: center;
}
#clock {
  font-size: 35vw;   
  text-align: center;
  line-height: 100%;
}
#clockdate {
  font-size: 10vw;   
  text-align: center;
  padding-bottom: 1vw;
}
#lights, #radio, #menu, #thermostatUI, #weather, #configUI, #heaters {
  text-align: center;
  vertical-align: middle;
  height: 60vw;
  margin: 0;
}
label {
  white-space: nowrap;
}
/*#photoframe {*/
/*  height: 60vw;*/
/*}*/
#thermostatUI h1 {
  font-size: 10vw;
  margin-bottom: 0;
  margin-top: 0;
}
#lights h1, #radio h1, #configUI h1 {
  font-size: 8vw;
  margin-bottom: 0;
  margin-top: 0;
}
#lights img, #radio img {
  height: 12vw;
  color: white;
  padding: 0.5vw; /* 15px; */
}
#radio .imgbutton {
  height: 7vw;
  padding: 0.5vw 1vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  margin-right: 1vw;;
  vertical-align: middle;
}
#heaters .square, #heaters .landscape, #heaters .portret {
  padding: 0.5vw 1vw;
  margin-bottom: 0.5vw;
  margin-top: 1.5vw;
  margin-right: 1vw;;
  vertical-align: middle;
}
#heaters .square, #heaters .portret {
  width: 120px;
}
#heaters .landscape {
  width: 200px;
}
#volumeinfo {
  font-size: 56px;
  font-weight: bold;
  margin-right: 1vw;
  vertical-align: middle;
}
h1 img, #radio h1 img, #lights h1 img {
  height: 9vw;
  vertical-align: -1.5vw;
}
.room {
  width: 100vw;
}
#miniclock {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 7vw;
}
#minitemp {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 7vw;
}
.bme280 {
  font-size: 3vw;
}
.highlight {
  background-color: #00BFFF00;
  border: 1px solid DeepSkyBlue;
  color: DeepSkyBlue;
}
/* PinPad */
#PINform input:focus,
#PINform select:focus,
#PINform textarea:focus,
#PINform button:focus {
  outline: none;
}
#PINform {
  text-align: center;
/*
  position: absolute;
  width: 300px; height: 400px;
  left: 50%;
  margin-left: -180px;
  top: 50%;
  margin-top: -215px;
  padding: 30px;
*/
}
#PINbox {
  background-color: rgba(128,128,128,0.5);
  border: 1px solid rgb(128,128,128);
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 3.5%;
  width: 92%;
  font-size: 3em;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px black;
}
.PINbutton {
  background-color: rgba(128,128,128,0.5);
  border: 1px solid rgb(128,128,128);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
  text-shadow: 0 0 2px black;
  font-weight: bold;
  border-radius: 50%;
  font-size: 2em;
  text-align: center;
  width: 14vw;
  height: 14vw;
  margin: 7px 20px;
  padding: 0;
}
.clear, .enter {
/*
  display: inline-block;
*/
  font-size: 1.5em;
  width: 30vw;
  margin: 2vh 5vw;
}
.PINbutton:hover {
  box-shadow: #506CE8 0 0 1px 1px;
}
.PINbutton:active {
  background: rgba(80,108,232,0.5);
  color: #fff;
}
.clear:hover {
  box-shadow: #ff3c41 0 0 1px 1px;
}
.clear:active {
  background: rgba(255,60,65,0.5);
  color: #fff;
}
.enter:hover {
  box-shadow: #47cf73 0 0 1px 1px;
}
.enter:active {
  background: rgba(71,207,115,0.5);
  color: #fff;
}
/* End PinPad */
