body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
#menu, #thermostatUI {
  background-color: #00004d;
}
.menubutton {
  height: 23vw; /* 100px; */
}
button {
  background-color: rgba(128,128,128,0.5);
  border: 1px solid rgb(128,128,128);
  color: white;
  padding: 0.5px 1vw; /* 15px; */
  margin-bottom: 1vw;
  margin-right: 1vw;;
  text-align: center;
  text-decoration: none;
/*  display: inline-block; */
  font-size: 4vw; /* 30px; */
  font-weight: bold;
  border-radius: 12px;
/*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}
#clockday {
  padding-top: 1vw;
  font-size: 10vw;
  text-align: center;
}
#clock {
  font-size: 35vw;   
  text-align: center;
  line-height: 100%;
}
#clockdate {
  font-size: 10vw;   
  text-align: center;
  padding-bottom: 1vw;
}
#radio, #menu, #thermostatUI {
  text-align: center;
}
#menu, #thermostatUI {
  height: 60vw;
}
h1 {
  font-size: 11vw;
  margin-bottom: 0;
  margin-top: 0;
}
h1 img, #radio img {
  height: 9vw;
}
.room {
  width: 100vw;
}
